body {
    padding: 0;
    margin: 0;
}

.nav-activator {
    padding: 10px;
    border-radius: 50px;
    border: none;
    background-color: lightblue;
}

.close-button {

}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    width: 30%;
    height: 100%;
    transition: 0.3s all ease;
}

.invisible {
    transform: translateX(-100%);
}
